.body_toggle{
  text-align: center;
  background-color: #000000;
}

body{
  text-align: center;
  background-color:fuchsia;
}

h1{
  font-size: 40px;
  color: White;
  margin: 0px;
  margin-top: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}